services:
  ${v_container}:
    image: ${v_my_image}
    container_name: ${v_container}
    restart: always # no|on-failure[:max-retries]|always|unless-stopped
    environment:
      TZ: ${v_tz}
    ports:
      - 16379:6379
    volumes:
      # - "~/:/srv"
      - "~/software:/srv"
      - "~/database:/database"
      - "./conf/filebrowser.json:/.filebrowser.json"
    stdin_open: true
    tty: true 
    command: [ "/bin/sh"]
