services:
  ${v_container}:
    image: ${v_my_image}
    build: .
    container_name: ${v_container}
    restart: always # no|on-failure[:max-retries]|always|unless-stopped
    environment:
      - TZ=${v_tz}
    command: [ "/bin/bash"]
